<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="ModalDemoCtrl" ng-cloak>
<head>
  <meta charset="UTF-8">
  <title>Playlist {{currentAlbum.name}}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://code.angularjs.org/1.6.4/angular.js"></script>
  <script src="https://code.angularjs.org/1.6.4/angular-animate.min.js"></script>
  <script src="https://code.angularjs.org/1.6.4/angular-touch.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.5.0/ui-bootstrap-tpls.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css.css">
</head>
  <header>
    <h3>Playlist- {{currentAlbum.name}}</h3>
  </header>
<div class="container">
<div >
  <input id="search" type="text" name="search" ng-model="filteralbum" placeholder="Search..">
  <button class="btn" ng-click="open()">+ Add New Playlist</button>
  <div id="popup1" modal="shouldBeOpen" close="close()" options="opts">
  <div class="modal-header">
  <h4>{{title}}</h4>
  </div>
  <form ng-submit="submit(choise.name, choise.image, choise.songName, choise.songURL)">
    <div class="modal-body">
      <div class='step-1' ng-show='showStep(1)'>
        <h4>Step 1 </h4>
          <div class='steps'>
            <div class="modal-body">
              <label>Playlist Name</label>
              <input type="text" ng-model="choise.name" />
              <label>Playlist Image URL</label>
              <input type="text" ng-model="choise.image" />
             </div>
          </div>
      </div>
      <div class='step-2' ng-show='showStep(2)'>
        <h4>Step 2</h4>
        <div class="col-sm-6">
   <fieldset data-ng-repeat="choice in choices">
      <input type="text" ng-model="choice.songName" name="" placeholder="Song Name">
      <input type="text" ng-model="choice.songURL" name="" placeholder="Song URL">
      <button class="btn btn-outline-secondary
" type="button" ng-show="$last" ng-click="removeChoice()">X</button>
   </fieldset>
   <button class="btn" type="button" ng-click="addNewChoice()">Add fields</button>  
        </div>
      </div>
    </div> 
      <div class="modal-footer">
          <div class='footer-stuff'>
            <button class='btn back' type='button' ng-click='stepBack()' ng-hide='currentStep == 1'>Back</button>
            <button class='btn next' type='button' ng-click='stepForward()' ng-hide='currentStep == 2'>Next</button>
              <input type="submit" class="btn primary-btn" value="Submit" />
            <button class='btn btn-warning' type='button' ng-click='close()'>Cancel</button>
          </div>
      </div>    
  </form>
 </div>
<div class="container">
  <div class="column center"></div>
    <div class="column add-bottom">
        <div id="mainwrap">
          <div id="nowPlay">
            <div id="audio0">
              <audio preload id="audio1" controls>
               </source>
              Your browser does not support HTML5 Audio!
              </audio>
              <span class="left" id="npAction">Paused...</span>
            <div class="switchSongs">
              <button id="btnPrev">🡹</button>
              <button id="btnNext">🡻</button>
            </div>
             </div>
            <div id="audiowrap"></div>
            <div id="plwrap">
            <ul>
              <li ng-repeat="song in Songs track by $index" ng-mouseenter="playSongBtn=true" ng-mouseleave="playSongBtn=false">
                  <div class="plTitle" style="cursor: pointer;" ng-click="PlaySong(song.url)">{{song.name}}
                    <p ng-show="playSongBtn" class="btn1" style="cursor: pointer;">▶</p>
                  </div>
              <li>
            </ul>
            <img id="mainPicAlbum" ng-class="{'fa-spin':IsPlaying}" ng-src="{{currentAlbum.image}}">  
          </div>
        </div>
    </div>
</div>

  <div class="albums_container">
    <div class="album" ng-repeat="album in albums | filter : filteralbum ">
      <h4 class="album_title">{{album.name}}<h4>
      <div class="album_container" ng-mouseenter="playAlbum=true" ng-mouseleave="playAlbum=false" class="     btn-md" ng-click="playSongs(album)">
        <img id="secPicAlbum" ng-src="{{album.image}}">
        <button type="button" ng-show="playAlbum" class="btn-md-del" ng-click="deleteAlbum(album)">X</button>
        <button type="button" ng-show="playAlbum" class="btn-md">▶</button>
      </div>
    </div>
  </div>
</body>
</html>